version: '2'

networks:
  procrustus_network:
    external:
      name: nginxproxynetwork

services:
  procrustes_elastic:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.5.2
    container_name: ga_procrustus_es
    environment:
      - discovery.type=single-node
      - ES_JAVA_OPTS=-Dlog4j2.formatMsgNoLookups=true
    ports:
      - 9266:9200
    networks:
      - procrustus_network
    volumes:
      - /data/docker/volumes/ga_es/_data:/usr/share/elasticsearch/data
      - /home/robz/:/home

  pyservice:
    build:
      context: ./
      dockerfile: Dockerfile.api
    container_name: pyservice
    environment:
      - VIRTUAL_HOST=gaservice.sd.di.huc.knaw.nl
    expose:
      - 5000
    ports:
      - 5003:5000
    networks:
      - procrustus_network
    volumes:
      - /home/robz/:/home
